<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787659069742-jb98tcmv8b4lpp0hvjrvaim9olv7ppht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787659069742-jb98tcmv8b4lpp0hvjrvaim9olv7ppht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787659069742-160l4aeep8kc0iif83ivdj16ej3da8qp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9t_736jZVAFFTnhnYz9zw9ZzYGm9n5MU</string>
	<key>GCM_SENDER_ID</key>
	<string>787659069742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment</string>
	<key>PROJECT_ID</key>
	<string>assignment-9fadb</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-9fadb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787659069742:ios:039cfa5b2d5652b5d982bf</string>
</dict>
</plist>